.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.custom-navbar-color {
    background-color: #4a148c; /* Deep purple */
}

.heart-icon {
    height: 24px;
    width: auto;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #343a40; /* Dark background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    padding: 10px 0; /* Padding for spacing */
    position: relative; /* Position relative to enable z-index */
    z-index: 10; /* Ensure footer is above other content */
    margin-top: auto; /* Push footer to the bottom */
}

.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.flash-message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    min-width: 250px;
    opacity: 0.95;
    display: none; /* Initially hidden */
}

.flash-message.show {
    display: block; /* Show when the .show class is added */
}

.flash-message.fade {
    transition: opacity 0.5s ease-out;
    opacity: 0;
    pointer-events: none;
}

#results-container {
    max-width: 800px;
    margin: 0 auto; /* 居中显示 */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 结果项样式 */
.result-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item h3 {
    margin: 0 0 5px;
}

.result-item p {
    margin: 0 0 5px;
    color: #555;
}

.result-item small {
    color: #999;
}



.post-title:hover {
    color: #007bff; 
    font-size: 1.8em;
}
