<header class="bg-dark text-white p-3">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ url_for('main') }}">
            <img alt="Website Logo" src="{{ url_for('static', filename='images/logo.png') }}" style="height: 50px;">
        </a>
        {% if request.endpoint != 'login' %}
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Search Bar -->
            <div class="mx-2 d-flex justify-content-center align-items-center flex-grow-1" style="max-width: 900px;">
                <form class="form-inline w-100 d-flex justify-content-center align-items-center" method="GET" action="{{ url_for('search') }}">
                    <input aria-label="Search" class="form-control mr-2 flex-grow-1" name="query" placeholder="Search" type="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="form-inline">
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                   data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                    <img class="avatar-img" src="{{ url_for('static', filename=current_user.avatar.replace('static/', '')) }}">
                </a>
                <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ url_for('profile', username=current_user.username) }}">View Profile</a>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            {% else %}
            <a class="btn btn-primary" href="{{ url_for('login') }}">Sign In / Log In</a>
            {% endif %}
        </div>
        {% endif %}
    </nav>
</header>
<div id="results-container"></div>
