{% extends "base.html" %}

{% block content %}
<main class="container-fluid mt-3 login-container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <div class="container">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="{{ url_for('registration') }}" method="post" class="form" id="registrationForm">
                {{ registration_form.hidden_tag() }}
                <h2 class="form__title">Sign Up</h2>
                <div class="input-group">
                    {{ registration_form.username(placeholder="Username", class="input", id="username", required=True) }}
                </div>
                <div class="input-group">
                    {{ registration_form.email(placeholder="Email", class="input", id="email", required=True) }}
                </div>
                <div class="input-group">
                    {{ registration_form.password(placeholder="Password", class="input", id="password", required=True) }}
                </div>
                <div class="input-group">
                    {{ registration_form.confirmPassword(placeholder="Confirm Password", class="input", id="confirmPassword", required=True) }}
                </div>
                <div class="form-group text-center">
                    {{ registration_form.submitButton(class="btn") }}
                    {{ registration_form.resetButton(class="btn") }}
                </div>
            </form>
        </div>

        <!-- Log In -->
        <div class="container__form container--signin">
            <form action="{{ url_for('login') }}" method="post" class="form" id="loginForm">
                {{ login_form.hidden_tag() }}
                <h2 class="form__title">Log In</h2>
                <div class="input-group">
                    {{ login_form.email(placeholder="Email", class="input", id="email", required=True) }}
                </div>
                <div class="input-group">
                    {{ login_form.password(placeholder="Password", class="input", id="password", required=True) }}
                </div>
                <div class="form-group text-center">
                    {{ login_form.loginButton(class="btn") }}
                </div>
                <a href="#" class="link">Forgot your password?</a>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Log In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}