{% extends "base.html" %}

{% block content %}
<main class="central-container">
    <h1>Profile of {{ user.username }}</h1>
    <div class="row">
        <div class="col-md-3">
            <img class="rounded img-thumbnail"
                 src="{{ url_for('static', filename=current_user.avatar.replace('static/', '')) }}" width="200">
        </div>
        <div class="col-md-9">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Join Date:</strong> {{ user.join_date }}</p>
            <p><strong>Post Count:</strong> {{ user.post_count }}</p>
            {% if user == current_user %}
            <a class="btn btn-primary" href="{{ url_for('edit_profile', username=user.username) }}">Edit Profile</a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}