{% extends "base.html" %}

{% block content %}
<main class="container-fluid mt-3 login-container">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

  <div class="container">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form action="{{ url_for('register') }}" method="post" class="form" id="form1">
        <h2 class="form__title">Sign Up</h2>
        <input type="text" placeholder="User" name="username" class="input" />
        <input type="email" placeholder="Email" name="email" class="input" />
        <input type="password" placeholder="Password" name="password" class="input" />
        <button class="btn">Sign Up</button>
      </form>
    </div>

    <!-- Log In -->
    <div class="container__form container--signin">
        <form action="{{ url_for('login') }}" method="post" class="form" id="form2">
        <h2 class="form__title">Log In</h2>
        <input type="email" placeholder="Email" name="email" class="input" />
        <input type="password" placeholder="Password" name="password" class="input" />
        <a href="#" class="link">Forgot your password?</a>
        <button class="btn">Log In</button>
      </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--left">
          <button class="btn" id="signIn">Log In</button>
        </div>
        <div class="overlay__panel overlay--right">
          <button class="btn" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const firstForm = document.getElementById("form1");
    const secondForm = document.getElementById("form2");
    const container = document.querySelector(".container");

    signInBtn.addEventListener("click", () => {
      container.classList.remove("right-panel-active");
    });

    signUpBtn.addEventListener("click", () => {
      container.classList.add("right-panel-active");
    });

    firstForm.addEventListener("submit", (e) => e.preventDefault());
    secondForm.addEventListener("submit", (e) => e.preventDefault());
  </script>
</main>
{% endblock %}
